doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{title} :: My website
    // build:css stylesheets/main.min.css
    link(rel='stylesheet', href='stylesheets/main.css')
    // /build
  body
    a(class='skip off-screen', href='#main') Skip to content
    header(role='banner')
      a(href='/') My website
      p Strapline text
      nav(role='navigation')
        ul
          li
              a(href='/') Home
          li
              a(href='/products') Products
          li
              a(href='/about') About
          li
              a(href='/contact') Contact
    main(id='main', class='main', role='main')
      block content
    footer(role='contentinfo')
      p Footer
    block scripts
      if settings.env === 'production'
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
      else
        script(src='javascripts/jquery-3.2.1.min.js')
      
      script(src='/enquire/enquire.min.js')
      
      // build:js javascripts/site.min.js
      script(src='javascripts/site.js')
      // /build