doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{title} :: My website
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    a(class='skip off-screen', href='#main') Skip to content
    header(role='banner')
      a(href='/') My website
      p Strapline text
      nav(role='navigation')
        ul
          li
              a(href='/') Home
          li
              a(href='/products') Products
          li
              a(href='/about') About
          li
              a(href='/contact') Contact
    main(id='main', class='main', role='main')
      block content
    footer(role='contentinfo')
      p Footer 
      p= date
    block scripts
      script(src='/site.js')