body {
  @include mq-full {
    margin: 2rem auto 0;
    width: $max-viewport-width;
  }

  background-color: palette-colour($palette-mono, 'lightest');
  min-width: $min-viewport-width;
}

html {
  background-color: palette-colour('mono', 'dark');
}

main {
  background: url('#{$background-main}');
  min-height: 35rem;
  padding: 1.5rem percentage(20/strip-units($max-viewport-width));
}

.skip {
  &:active {
    position: static;
  }

  &:focus {
    position: static;
  }
}
