body {
  background-color: palette-colour($palette-mono, 'lightest');
  min-width: $min-viewport-width;
}

html {
  background-color: palette-colour('mono', 'dark');
}

main {
  @include mq-full {
    margin-left: auto;
    margin-right: auto;
    width: $max-viewport-width;
  }
}

.skip {
  &:active {
    position: static;
  }

  &:focus {
    position: static;
  }
}
