// base typographical rules only 

@include font-face($base-type-name, $base-type-path);

body {
  font-family: #{$base-font-family};
  font-size: calc-rem($base-root-font-size)#{'rem'};
  line-height: $base-line-height;
}

html {
  font-size: $base-font-proportional-size;
}

h1 {
  @include heading-vertical-rhythm($h1-size, $top-margin: 0);
}

h2 {
  @include heading-vertical-rhythm($h2-size);
}

h3 {
  @include heading-vertical-rhythm($h3-size);
}

h4 {
  @include heading-vertical-rhythm($h4-size);
}

p {
  margin-bottom: $base-line-height#{'rem'};
}
